body {
  /* background-color: #262525; */
}
.heading {
  text-align: center;
  /* color: white; */
}

.form-box {
  display: inline-block;
  margin-bottom: 20px;
}
.form-box .form {
  background-color: lightblue;
  height: 50px;
  width: 500px;
  margin: 30px 0 0 300px;
  border: 1px solid black;
  padding-left: 10px;
}

.add-button {
  height: 50px;
  width: 80px;
  border: none;
  background-color: gray;
}

.todo-list {
  margin-left: 300px;
  display: inline-block;
}

.complete-btn,
.edit-btn,
.delete-btn {
  outline: none;
  cursor: pointer;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: red;
  opacity: 0.6;
}

.list {
  width: 500px;
}

.icons {
  display: inline-block;
}

.btns {
  border: none;
  height: 33px;
  margin-left: 5px;
  background-color: white;
}
